<form action="/teams" method="post">
<h1>Create a Team and Heroes!</h1><br>
<br>
  <label for="team_name">Team Name:</label>
  <input id="team_name" type="text" name="team[name]"><br>
  <label for="team_motto">Team Motto:</label>
  <input id="team_motto" type="text" name="team[motto]"><br>
  <br>
  <h2>Hero 1</h2>
  <label for="member1_name">Heroes Name:</label>
  <input id="member1_name" type="text" name="team[heroes][][name]"><br>
  <label for="member1_power">Heroes Power:</label>
  <input id="member1_power" type="text" name="team[heroes][][power]"><br>
  <label for="member1_bio">Heroes Biography:</label>
  <input id="member1_bio" type="text" name="team[heroes][][bio]"><br>
  <br>
  <h2>Hero 2</h2>
  <br>
  <label for="member2_name">Heroes Name:</label>
  <input id="member2_name" type="text" name="team[heroes][][name]"><br>
  <label for="member2_power">Heroes Power:</label>
  <input id="member2_power" type="text" name="team[heroes][][power]"><br>
  <label for="member2_bio">Heroes Biography:</label>
  <input id="member2_bio" type="text" name="team[heroes][][bio]"><br>
  <br>
  <h2>Hero 3</h2>
  <br>
  <label for="member3_name">Heroes Name:</label>
  <input id="member3_name" type="text" name="team[heroes][][name]"><br>
  <label for="member3_power">Heroes Power:</label>
  <input id="member3_power" type="text" name="team[heroes][][power]"><br>
  <label for="member3_bio">Heroes Biography:</label>
  <input id="member3_bio" type="text" name="team[heroes][][bio]"><br>
  <br>
  <input type="submit" name ="submit" value="Submit" id ="submit">
</form> 
